[Unit]
Description=GitLab Gitaly
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gitaly
Environment=RAILS_ENV=production
ExecStart=/home/git/gitaly/gitaly /home/git/gitaly/config.toml
Restart=always
RestartSec=2
KillMode=process

[Install]
WantedBy=multi-user.target
