[Unit]
Description=GitLab Sidekiq Queue
PartOf=gitlab.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gitlab
Environment=RAILS_ENV=production
ExecStart=/home/git/gitlab/bin/sidekiq-cluster "* * * * * * * *" -P /home/git/gitlab/tmp/pids/sidekiq-cluster.pid -e $RAILS_ENV
Restart=unless-stopped
RestartSec=2
KillMode=process

[Install]
RequiredBy=gitlab.service
