[Unit]
Description=GitLab MailRoom
PartOf=gitlab.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gitlab
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/bundle exec mail_room --log-exit-as json -q -c /home/git/gitlab/config/mail_room.yml
Restart=unless-stopped
RestartSec=2
KillMode=process

[Install]
RequiredBy=gitlab.service
