[Unit]
Description=GitLab Gitaly
PartOf=gitlab.service
After=gitlab.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gitaly
Environment=RAILS_ENV=production
ExecStart=/home/git/gitaly/gitaly /home/git/gitaly/config.toml
Restart=unless-stopped
RestartSec=2
KillMode=process

[Install]
WantedBy=gitlab.service
