[Unit]
Description=GitLab Puma HTTP Server
PartOf=gitlab.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gitlab
Environment=RAILS_ENV=production
Environment=USE_WEB_SERVER=puma
ExecStart=/home/git/gitlab/bin/web_puma start_foreground
Restart=unless-stopped
RestartSec=2
KillMode=process

[Install]
RequiredBy=gitlab.service
