[Unit]
Description=GitLab MailRoom
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/var/opt/gitlab/gitlab
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/bundle exec mail_room --log-exit-as json -q -c /var/opt/gitlab/gitlab/config/mail_room.yml
Restart=always
RestartSec=2
KillMode=process

[Install]
WantedBy=multi-user.target
