/*

  Yes - I have learned nothing from the pain and am doing the same thing as with Mastodon.

*/

canvas#starfield {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5000;
}

.toggle-sidebar-button,
.close-nav-button,
.toggle-right-sidebar-button,
body .nav-sidebar,
body .navbar-gitlab,
.form-control,
.search form,
.cover-block,
.select2-drop-mask,
.select2-results .select2-highlighted .select2-result-label,
.select2-container .select2-choice,
.select2-container.select2-drop-above .select2-choice,
.info-well,
table.table tr th,
.md table:not(.code) tr th,
.gl-alert-tip,
.labels-container,
.gl-button.gl-button,
.gl-button.gl-button.btn-block,
.login-page input.gl-button.gl-button[type='submit'],
.gl-button.gl-button.btn-default,
.gl-button.gl-button.btn-block.btn-default,
.login-page input.gl-button.gl-button.btn-default[type='submit'],
.milestones,
.row-content-block,
.btn,
pre,
.bg-light,
.ide,
.ide .card,
.ide .common-note-form .md-area,
.file-holder .file-content,
.file-title-flex-parent,
.file-holder .file-title-flex-parent,
.dropdown-toggle,
.dropdown-menu-toggle,
.confidential-merge-request-fork-group .dropdown-toggle,
.confidential-merge-request-fork-group .dropdown-menu-toggle,
body.gl-dark .navbar-gitlab .navbar-sub-nav li.active>a,
body.gl-dark .navbar-gitlab .navbar-sub-nav li.active>button,
body.gl-dark .navbar-gitlab .navbar-sub-nav li.dropdown.show>a,
body.gl-dark .navbar-gitlab .navbar-sub-nav li.dropdown.show>button,
body.gl-dark .navbar-gitlab .navbar-nav li.active>a,
body.gl-dark .navbar-gitlab .navbar-nav li.active>button,
body.gl-dark .navbar-gitlab .navbar-nav li.dropdown.show>a,
body.gl-dark .navbar-gitlab .navbar-nav li.dropdown.show>button,
.navbar-empty,
hr.footer-fixed,
.devise-layout-html body .footer-container,
.devise-layout-html body hr.footer-fixed,
.card,
.md table:not(.code) tbody,
.filtered-search-box,
.row-content-block,
.filtered-search-box-input-container,
.filtered-search-token .name,
.filtered-search-term .name,
.filtered-search-token .value-container,
.filtered-search-term .value-container,
.form-actions,
.bs-callout,
.file-holder .file-title,
.card-header {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(4px) !important;
}

.modal,
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(4px) !important;
  opacity: 1;
}

.dropdown-menu,
.dropdown-menu.show,
.dropdown-menu li>a:not(.disable-hover):hover,
.dropdown-menu .participants-more li>.btn-link:not(.disable-hover):hover,
.participants-more .dropdown-menu li>.btn-link:not(.disable-hover):hover,
.dropdown-menu .user-list-more li>.btn-link:not(.disable-hover):hover,
.user-list-more .dropdown-menu li>.btn-link:not(.disable-hover):hover,
.dropdown-menu li>a:active,
.dropdown-menu li>a:focus,
.dropdown-menu li>a.is-focused,
.dropdown-menu li button:not(.disable-hover):hover,
.dropdown-menu li button:active,
.dropdown-menu li button:focus,
.dropdown-menu li button.is-focused,
.dropdown-menu li .gl-button.btn-link:not(.disable-hover):hover,
.dropdown-menu li .gl-button.btn-link:active,
.dropdown-menu li .gl-button.btn-link:focus,
.dropdown-menu li .gl-button.btn-link.is-focused,
.dropdown-menu li .menu-item:not(.disable-hover):hover,
.dropdown-menu li .menu-item:active,
.dropdown-menu li .menu-item:focus,
.dropdown-menu li .menu-item.is-focused,
.sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items,
.modal-content .modal-body,
.modal-content .modal-header,
.modal-content,
.emoji-menu,
.project-repo-buttons .count-buttons .count-badge-count {
  background-color: rgba(0, 0, 0, 0.95) !important;
  backdrop-filter: blur(4px) !important;
}

.blank-state-link {
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px) !important;
    border-color: #fff;
  }
}

.dropdown-menu li>a:not(.disable-hover):hover,
.dropdown-menu .participants-more li>.btn-link:not(.disable-hover):hover,
.participants-more .dropdown-menu li>.btn-link:not(.disable-hover):hover,
.dropdown-menu .user-list-more li>.btn-link:not(.disable-hover):hover,
.user-list-more .dropdown-menu li>.btn-link:not(.disable-hover):hover,
.dropdown-menu li>a:active,
.dropdown-menu li>a:focus,
.dropdown-menu li>a.is-focused,
.dropdown-menu li button:not(.disable-hover):hover,
.dropdown-menu li button:active,
.dropdown-menu li button:focus,
.dropdown-menu li button.is-focused,
.dropdown-menu li .gl-button.btn-link:not(.disable-hover):hover,
.dropdown-menu li .gl-button.btn-link:active,
.dropdown-menu li .gl-button.btn-link:focus,
.dropdown-menu li .gl-button.btn-link.is-focused,
.dropdown-menu li .menu-item:not(.disable-hover):hover,
.dropdown-menu li .menu-item:active,
.dropdown-menu li .menu-item:focus,
.dropdown-menu li .menu-item.is-focused,
.sidebar-sub-level-items>li.active a,
.sidebar-sub-level-items>li.active a:hover,
.sidebar-sub-level-items>li.active .participants-more .btn-link:hover,
.participants-more .sidebar-sub-level-items>li.active .btn-link:hover,
.sidebar-sub-level-items>li.active .user-list-more .btn-link:hover,
.user-list-more .sidebar-sub-level-items>li.active .btn-link:hover,
.sidebar-sub-level-items>li.active a:focus,
.sub-section,
.nav-sidebar.sidebar-expanded-mobile,
.code.white .line-numbers,
.code.white .diff-line-num,
.sidebar-sub-level-items>li a:hover,
.sidebar-sub-level-items>li .participants-more .btn-link:hover,
.participants-more .sidebar-sub-level-items>li .btn-link:hover,
.sidebar-sub-level-items>li .user-list-more .btn-link:hover,
.user-list-more .sidebar-sub-level-items>li .btn-link:hover,
.sidebar-sub-level-items>li a:focus {
  color: #fff;
  background-color: rgba(10, 10, 10, 0.85) !important;
  backdrop-filter: blur(4px) !important;
}

.btn:hover, .btn:focus,
.identicon,
.identicon.bg3 {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px) !important;
  border-color: #fff;
}

body .navbar-gitlab .navbar-sub-nav li.active > a,
body .navbar-gitlab .navbar-sub-nav li.active > button,
body .navbar-gitlab .navbar-sub-nav li.dropdown.show > a,
body .navbar-gitlab .navbar-sub-nav li.dropdown.show > button,
body .navbar-gitlab .navbar-nav li.active > a,
body .navbar-gitlab .navbar-nav li.active > button,
body .navbar-gitlab .navbar-nav li.dropdown.show > a,
body .navbar-gitlab .navbar-nav li.dropdown.show > button,
.tree-holder .tree-table tr:hover:not(.tree-truncated-warning),
.tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px) !important;
  border-color: #fff;
}

.btn.btn-success,
.navbar-sub-nav > li > a:hover,
.participants-more .navbar-sub-nav > li > .btn-link:hover,
.user-list-more .navbar-sub-nav > li > .btn-link:hover,
.navbar-sub-nav > li > a:focus,
.navbar-sub-nav > li > button:hover,
.navbar-sub-nav > li > button:focus,
.navbar-nav > li > a:hover,
.participants-more .navbar-nav > li > .btn-link:hover,
.user-list-more .navbar-nav > li > .btn-link:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > button:hover,
.navbar-nav > li > button:focus,
.gl-button.gl-button.btn-confirm,
.gl-button.gl-button.btn-info,
.gl-button.gl-button.btn-success,
.gl-button.gl-button.btn-danger,
.gl-button.gl-button.btn-warning,
.gl-button.gl-button.btn-block.btn-confirm,
.login-page input.gl-button.gl-button.btn-confirm[type='submit'],
.gl-button.gl-button.btn-block.btn-info,
.login-page input.gl-button.gl-button.btn-info[type='submit'],
.gl-button.gl-button.btn-block.btn-success,
.login-page input.gl-button.gl-button.btn-success[type='submit'],
.gl-button.gl-button.btn-block.btn-danger,
.login-page input.gl-button.gl-button.btn-danger[type='submit'],
.gl-button.gl-button.btn-block.btn-warning,
.login-page input.gl-button.gl-button.btn-warning[type='submit'],
.btn-missing,
.btn-warning,
.btn,
.project-stats .nav .btn-missing,
.project-buttons .nav .btn-missing,
.shortcut-mappings th,
.shortcut-mappings .shortcut {
  color: #fff !important;
}

body .footer-container .footer-links {
  margin-bottom: 0 !important;
  margin-top: 8px !important;
}

body hr.footer-fixed {
  margin-bottom: 0 !important;
}

.input-group .input-group-prepend,
.input-group .input-group-append {
  background-color: rgba(10, 10, 10, 0.4) !important;
}


.sidebar-sub-level-items>li.active a,
.sidebar-sub-level-items>li a:hover {
  border-right: 1px solid white !important;
}
